<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>

<form action="/add">
    <input type="text" required name="name" placeholder="Name">
    <input type="text" required name="surname" placeholder="Surname">
    <input type="sex" required name="sex" placeholder="Sex">
    <input type="submit" value="Add">
</form>

<tr th:each="person : ${people}">
    <td th:text="${person.name}"></td>
    <td th:text="${person.surname}"></td>
    <td th:text="${person.sex}"></td>
    <p></p>
</tr>
</body>
</html>